boto3
func_timeout
llama_index
llama-index-llms-bedrock
llama-index-embeddings-bedrock
matplotlib
numpy
pandas
psutil
pyswarms
requests
scipy
streamlit
torch --index-url https://download.pytorch.org/whl/cpu
